
body, .wrapper {
  width: 100%;
  margin: 0;
}
aside{
  width: 20%;
  vertical-align: top;
  margin-top: 70px;
  button{
    width: 80%;
    margin-bottom: 20px;
  }
}
section{
  width: 70%;
  margin-top: 70px;
  .albumDiv{
    width: 30%;
    display: inline-block;
    font-size: 3em;
    background-color: #eee;
    border: 1px solid black;
  }
  .photoDiv{
    display: none;
  }

  }

.wrapper > *{
  display: inline-block;
  height: 800px;
}
